/* Styles */
html {
  background: url(ocean.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  color: #051A38;
  font: sans-serif;
}
/* d3 Map */
svg {
  display: block;
  margin: 0 auto;
}
circle {
  fill: #4C668C;
  stroke: #fff;
  stroke-width: 2px;
  cursor: pointer;
}
line {
  stroke: #ccc;
  stroke-width: 2px;
}
marker {
  fill: #ccc;
}
text {
  font: 12px sans-serif;
  letter-spacing: 1px;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
.nodeTitle {
  fill: #142E54;
  text-anchor: middle;
  text-transform: uppercase;
}
.linkTitle {
  fill: #758AA8;
}
